<div class="main">
<h1>ようこそKIZUNAへ</h1>
<p>このサイトでできること</p>
<ul>
  <li>自分で目的を持ったコミュニティを作る事ができます。
    <%= link_to 'コミュニティの新規作成はこちらから！', new_room_url %>
  </li>
  <li>コミュニティ内で掲示板形式で会話をする事ができます。</li>
  <li>他人の作ったコミュニティにコミュニティ主に承認される事で、入る事ができます。</li>
  <li>現在作られているコミュニティを検索する事ができます。</li>
  <li>コミュニティを作るまたは入る事で、共通の趣味や考え方を持った同志と出会う事ができます。</li>
</ul>
</div>