<div class="main">
<h1>トップページ</h1>

<h1>ようこそKIZUNAへ</h1>
<h2>サイト作成の経緯</h2>
<p>趣味や自分の考えを話したいけど、変に思われたらどうしようと考えたことはありませんか？<br>
その結果、自分を出せなくなり殻に閉じこもってはいませんか？<br>
このサイトはそんな人を対象に自分を出せる場所を提供したいと考えて作成しました。<br>
共通の趣味、共通の考え方を持った人と出会い、本来の自分を出してみませんか？<br>
</P>
<br>
<h2>このサイトでできること</h2>
<P>ある目的を持ったコミュニティを自分で作る事ができます。<br>
コミュニティ内でチャット形式で会話をする事ができます。<br>
他の人が作ったコミュニティに承認される事で入る事ができます。<br>
現在あるコミュニティを検索する事ができます。</p>
<br>
<h2>禁止事項</h2>
<p>このサイトは他人に対して悪意ある言動を行うことを禁じます。</p>
<br>
<h3>それでは一歩踏み出してみましょう！<h3>
<p>こちらより会員登録がお済みの方はログインしてください<br>
<%=link_to 'ログインする', new_user_session_path %></p>
<p>初めてお越しの方はこちらより新規登録を行ってください<br>
<%=link_to '新規登録する',new_user_registration_path %></p>