h1{
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h2{
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
h3{
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
h4{
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
p{
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}